@import "./variables";

@font-face {
  font-family: "BMWTypeNext Pro";
  src: local("BMWTypeNextPro-Bold")
    url("/public/assets/fonts/BMWTypeNext-Bold.20210426144302.ttf")
    format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "BMWTypeNext Pro";
  src: local("BMWTypeNextPro-light"),
    local("BMWTypeNextPro") local("BMWTypeNext Pro")
      url("/public/assets/fonts/BMWTypeNext-Light.20210426144302.ttf")
      format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $bg;
  font-size: 1.6rem;
}

body,
input,
button,
textarea {
  font-family: "BMWTypeNext Pro";
  font-weight: normal;
  font-size: 1.6rem;
}
